@keyframes bottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 50%;
}

body {
  box-sizing: border-box;
}

.heading {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 3rem;
  color: #fff;
}

.paragraph {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  margin-top: 1.5rem;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 50%;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 8;
}
.composition__photo--p1 {
  left: -2rem;
  top: 3rem;
}
.composition__photo--p2 {
  right: 5rem;
  top: -1rem;
}
.composition__photo:hover {
  transform: scale(1.05);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  transition: 0.2s;
  z-index: 9;
}

.heading__area {
  padding-top: 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15rem;
}
.heading .cards-heading {
  margin-bottom: 0px;
  font-size: 35px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(17, 99, 65);
}
.heading .cards-paragraph {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgb(17, 99, 65);
}

.post-area {
  width: 980px;
  margin: 100px auto;
}
.post-area img {
  width: 100%;
  height: 320px;
}
.post-area__overlay {
  width: 100%;
  height: 320px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 5;
  top: 0;
  display: none;
  transition: 0.5s;
}
.post-area:hover .post-area__overlay {
  display: block;
}
.post-area__user-information {
  display: flex;
  align-items: center;
}
.post-area__date-name {
  padding: 10px 0 0 10px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}
.post-area__comment-likes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 250px;
  border-top: 1px solid rgb(210, 210, 210);
  padding-top: 10px;
}
.post-area__comment-likes span {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
.post-area__comment-likes .fa-heart {
  font-size: 16px;
  color: red;
}
.post-area__asides {
  display: flex;
  justify-content: space-between;
}
.post-area__aside {
  width: 48.5%;
}
.post-area__text-content {
  padding: 28px 30px 25px;
}
.post-area__text-content a {
  text-decoration: none;
  color: rgb(17, 99, 65);
}
.post-area__text-content h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 35px;
  margin: 10px 0px;
  color: rgb(17, 99, 65);
}
.post-area__text-content p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(17, 99, 65);
}
.post-area__post-cards {
  margin-top: 30px;
  border: 1px solid rgb(188, 184, 184);
  position: relative;
}

.row {
  max-width: 70rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 4rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 3rem;
}
.row .col-1-of-2 {
  width: calc((70rem - 3rem) / 2);
}
.row .col-1-of-3 {
  width: calc((70rem - 2 * 3rem) / 3);
}
.row .col-1-of-4 {
  width: calc((70rem - 3 * 3rem) / 4);
}
.row .col-2-of-3 {
  width: calc(2 * (70rem - 2 * 3rem) / 3 + 3rem);
}
.row .col-2-of-4 {
  width: calc(2 * (70rem - 3 * 3rem) / 4 + 3rem);
}
.row .col-3-of-4 {
  width: calc(3 * (70rem - 3 * 3rem) / 4 + 6rem);
}

.header {
  width: 100%;
  background: rgba(17, 99, 65, 0.532);
  position: fixed;
  z-index: 10;
}
.header__nav {
  max-width: 45%;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.header__list {
  display: flex;
}
.header__list li {
  margin-left: 2rem;
}
.header__link {
  color: #fff;
  font-family: "Cormorant Garamond", serif;
}
.header__link:hover {
  color: rgb(165, 196, 183);
}
.header__icons {
  font-size: 24px;
  color: #fff;
}
.header__icons i {
  margin-right: 2rem;
}

.footer {
  background-color: rgb(17, 99, 65);
  width: 100%;
  height: 400px;
  position: relative;
}
.footer p {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-top: 10px;
}
.footer h1 {
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  font-weight: 700;
}
.footer h3 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-top: 10px;
}
.footer p:hover {
  color: rgb(165, 196, 183);
  letter-spacing: 1px;
  font-weight: 500;
  transition: 0.5s;
  cursor: pointer;
}
.footer__dark-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(14, 74, 49);
  position: absolute;
  bottom: 0;
  padding: 30px;
}
.footer__main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.footer__input {
  margin-top: 50px;
  position: relative;
}
.footer__input input {
  width: 300px;
  height: 50px;
  border: none;
  padding: 5px;
  background-color: rgb(226, 222, 222);
  border-radius: 5px;
}
.footer__input button {
  width: 70px;
  height: 35px;
  background-color: rgb(17, 99, 65);
  border-radius: 5px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-weight: 300;
  border: none;
  position: absolute;
  right: 10px;
  top: 7px;
  z-index: 6;
}
.footer__input button::placeholder {
  margin-right: 20px;
}
.footer__fourth--small {
  width: 300px;
}

.banner {
  object-fit: cover;
  position: relative;
}
.banner img {
  width: 100%;
}
.banner__imgtext {
  position: absolute;
  top: 20rem;
  right: 10rem;
  max-width: 26rem;
  animation-name: bottom;
  animation-duration: 2s;
}
.banner__signature {
  max-width: 15rem;
  float: right;
}

.mosaic {
  margin-top: 5rem;
}
.mosaic__heading {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 2.5rem;
  color: rgb(17, 99, 65);
  margin-right: 5rem;
}
.mosaic__paragraph {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 1rem;
  color: rgb(17, 99, 65);
  margin: 1.5rem 7rem 0 0;
}

/*# sourceMappingURL=style.css.map */
