//colors
$color-primary: rgb(17, 99, 65);
$color-primary-dark: rgb(14, 74, 49);


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgb(226, 222, 222);

$color-grey-dark: #5c5b5b;
$color-grey-dark-2: #414141;

$color-white: #fff;
$color-black: #000;

//font
$default-font-size: 1rem;

//grid
$grid-width: 70rem;
$gutter-vertical: 4rem;
$gutter-horisontal: 3rem;