@import "base/base.scss";


.header {
    max-width: 100%;
    background: rgba(29, 112, 78, 0.3);


    &__nav {
      max-width: 45%;
      margin: 0 auto;
      padding: 2rem 0 1rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
    }

    &__list {
      display: flex;

      li {
        margin-left: 2rem;
      }
    }

    &__link {
      color: white;
      font-family: verdana;
    }

    &__icons {
      font-size: 24px;
      color: white;

      i {
        margin-right: 2rem;
      }
      
    }

    &__bg-image {
      width: 100%;
      height: 50%;
      background-image: url(../images/banner.jpg);
    }

  }
  
  .imgtext {
    width: 310px;
    height: 350px;
    position: absolute;
    margin-left: 62%;
    margin-top: 217px;
  }
  
  .imgtext h2 {
    font-size: 45px;
    font-family: "Quicksand", sans-serif;
    font-weight: lighter;
  }
  
  .imgtext p {
    padding-top: 17px;
    font-family: arial;
    line-height: 1.5;
  }
  
  .imgtext img {
    width: 295px;
  }
  
  .second {
    width: 350px;
    height: 350px;
    margin-top: 130px;
    margin-left: 280px;
  }
  
  .second h2 {
    font-size: 45px;
    font-family: "Quicksand", sans-serif;
    font-weight: lighter;
    color: #0c5b47;
  }
  
  .second p {
    padding-top: 17px;
    font-family: arial;
    line-height: 1.5;
    color: #0c5b47;
  }
  
  .second img {
    width: 200px;
  }
  
  .secondimg {
    width: 270px;
    height: 390px;
    float: right;
    margin-right: 350px;
    margin-top: 90px;
  }
  
  .imgover {
    width: 250px;
    height: 390px;
    margin-left: 785px;
    margin-top: 148px;
    position: absolute;
  }
  
  .grey {
    width: 100%;
    height: 760px;
    background-color: #d0dfcf;
    margin-top: 180px;
  }
  
  .gtxt {
    width: 500px;
    height: 270px;
    float: left;
    margin-left: 150px;
    margin-top: 270px;
  }
  
  .grey h2 {
    font-size: 45px;
    font-family: "Quicksand", sans-serif;
    font-weight: lighter;
    color: #0c5b47;
  }
  
  .grey p {
    padding-top: 17px;
    font-family: arial;
    line-height: 1.5;
    color: #0c5b47;
  }
  
  .grey img {
    width: 50%;
    height: 100%;
    float: right;
  }
  
  .button {
    background-color: #d0dfcf;
    border: 3px solid #0c5b47;
    color: black;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    font-family: sylfaen;
    transition-duration: 0.2s;
  }
  
  .button:hover {
    background-color: #0c5b47;
    color: white;
  }
  
  .lggrey {
    width: 100%;
    height: 760px;
    background-color: #e0ecdc;
  }
  
  .lggtxt {
    width: 400px;
    height: 350px;
    float: right;
    margin-right: 280px;
    margin-top: 220px;
  }
  
  .lggrey h2 {
    font-size: 45px;
    font-family: "Quicksand", sans-serif;
    font-weight: lighter;
    color: #0c5b47;
    padding-top: 10px;
  }
  
  .lggrey p {
    padding-top: 17px;
    font-family: arial;
    color: #0c5b47;
  }
  
  .lggrey img {
    width: 50%;
    height: 100%;
    float: left;
  }
  
  .lggtxt img {
    width: 70px;
    height: 70px;
    padding: 30px;
  }
  
  .overimg {
    width: 100%;
    height: 400px;
    background-color: #d0dfcf;
    position: absolute;
  }
  
  .btext {
    width: 310px;
    height: 350px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: red;
  }
  
  .btext h2 {
    font-size: 45px;
    font-family: "Quicksand", sans-serif;
    font-weight: lighter;
  }
  
  .btext img {
    width: 295px;
  }
  
  /*# sourceMappingURL=style.css.map */
  